html{
    height: 100%;
    /*background-color: rgb(75, 75, 75);*/
}
a{
    color: darkred !important;
}
header{
    padding: 5px 5px 5px 5px;
    border-bottom: 3px solid darkred;
    vertical-align: middle;
}

.logo{
    text-align: left;
}

body {
    height: 100% !important;
    margin: 0;
    background-color: rgb(75, 75, 75);
}

.raid_report {
    padding: 5px 5px 5px 5px;
    /*background-color: rgb(75, 75, 75);*/
}


caption {
    display: none;
    caption-side: top;
}
header {
    width: 100%;
    height: 70px;
    /*background-color: rgb(51, 51, 51);*/
}

footer {
    color: darkred !important;
    border-top: 3px solid darkred;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    /*background: rgb(51, 51, 51);*/
}
footer>p {
    margin-bottom: 0rem !important;
}


.calendar {
  width: 40%;
  margin: auto;
  font-size: 13px;
}

.calendar tr, .calendar td {
  border: 1px solid black;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 80px;
  height: auto;
  padding: 10px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}
/*@media ( min-width: 350px ) {*/
    /*html{*/
        /*font-size: 14px !important;*/
    /*}*/
    /*header{*/
        /*height: 40px;*/
    /*}*/
      /*.leaflet-container {*/
        /*height: 300px;*/
        /*width: 100%;*/
    /*}*/

    /*label{*/
        /*margin-bottom:0rem !important;*/
    /*}*/

    /*footer {*/
        /*color: bisque;*/
        /*position: absolute;*/
        /*bottom: 0px;*/
        /*width: 100%;*/
        /*height: 40px !important;*/
        /*background: rgb(51, 51, 51);*/
    /*}*/
/*}*/